<style>
	#completarCampos {
	height: 40px;
	background-color: rgb(76, 59, 114);
	color: rgb(255, 255, 255);
	line-height: 40px;
	display: none;
	margin: 20px auto 20px;
	padding-left: 10px;
	position: relative;
	z-index: 1;
	width: 100%;
}
</style>
<div class="formulario">


	<form id="formValidacion" >
		<h1>Ingresar productos</h1>
		<label for="title">Producto</label>
		<input type="text" name="title" id="productos" placeholder="Ingrese un producto">
		<label for="price">Precio</label>
		<input type="number" name="price" id="price" placeholder="Ingrese el precio">
		<label for="thumbnail">Stock</label>
		<input type="number" name="stock" id="stock" placeholder="Ingrese el stock">
		<label for="thumbnail">Tu imagen</label>
		<input type="text" id="thumbnail" name="thumbnail" placeholder="Ingrese imagen">
		</label>
		<button class="btn" type="submit">Guardar</button>
	</form>


<div id="completarCampos"></div> 

</div>

<!-- onsubmit="" -->